{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %}
<style>
a:link{
    text-decoration: none;
}
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1 border">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-2">
                                            <a href="{% url 'home'%}">Home</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="{% url 'online'%}">Online Test</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="">{{s.0.cat.prg}}</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row p-2">
                        
                        <div class="col-md-7 mt-5"> 
                            <h3 class="mb-5">{{s.0.cat.prg}}</h3>
                            {% for j in s %}
                                <a href="{% url 'startapptest1'%}?id={{j.cat.id}}&&type={{j.test}}"><h4><span class="text-warning"><i class="fas fa-folder-open"></i></span> Online  {{j.test}} (Random Question) </i></h4></a>
                                <p>Number of question:20 | Time: 20 minutes | views: 0 times</p>
                                <hr>
                            {% endfor %}
                        </div>
                        
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row mt-4">
                                        <div class="col-md-12 m-5 border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}
