{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %}
<style>
    a:link{
        text-decoration: none;
    }
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1 border">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-2">
                                            <a href="{% url 'home'%}">Home</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="">Aptitude</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row p-2">
                        <div class="col-md-7 mt-5"> 
                            <h3 class="mb-3">Aptitude Questions and Answers</h3>
                                <p class="ml-2">Aptitude questions and answers with explanation for written test, interview, competitive exams and entrance exams. Fully solved examples with answers. This section is very useful for those who are preparing for competitive exams such as Written test of IT companies, Bank Exams, CAT Exams, GATE Exams, Railway Exams, SSC, UPSC, Defence and many more. </p>
                            <h4 class="ml-2 mb-2 ">Aptitude Questions & Answers with Solutions</h4>
                            <p class="m-3 ">Take this Aptitude Quiz and test yourself based on the score you get in Aptitude questions. For all, this is the best way to improve your skills in Aptitude. You can practice Aptitude multiple choice questions and answers and attend the entrance exams and interviews with confidence. The aptitude questions which are included here are relevant to be asked in the competitive exams. Practice these Aptitude Questions Online Test and brush up your knowledge and to stay fully prepared for any examination. We have provided answers along with solutions to aptitude questions. </p>
                            <h4 class="ml-2 mb-3">Aptitude Questions - Aptitude Quiz Details</h4>
                            <table  border="1px" class="table border ml-3" > 
                                <tbody>
                                    <tr>
                                        <th>Online Test Name</th>
                                        <td>Aptitude</td>
                                    </tr>
                                    <tr>
                                        <th>Exam Type</th>
                                        <td>multiple Choice Questions</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <th>Aptitude Quiz</th>
                                    </tr>
                                </tbody>
                            </table>    
                            <p class="ml-3 mt-5">You can practice this Aptitude Questions provided here to know the various patterns asked in exams. Refer to the Aptitude MCQ to gain more proficiency. Prepare for the next job and entrance test with the help of the aptitude model questions and answers. Make sure to take some time in practicing the Aptitude Online Test. Check the below sections to know about the Aptitude Quiz model questions. Below provided quiz provides the multiple choice questions and answers related to the Aptitude. You need to check all the options and pick the correct one's. If you are not sure about the answers click on the View Answer button to know the answer to the question. </p>
                            <a href="{% url 'aptitudetest'%}?id=1" class="btn btn-success m-3 px-5">Start Test</a>
                       </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row mt-4">
                                        <div class="col-md-12 m-5 border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}
