{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %}
<style>
    a:link{
        text-decoration: none;
    }
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1 border">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-2">
                                            <a href="{% url 'home'%}">Home</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="">Engineering</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row p-2">
                        <div class="col-md-7 mt-5"> 
                            <h3 class="mb-3">Engineering Questions and Answers</h3>
                            <p class="ml-2">This is the largest collection of engineering questions and answers for Technical Interview, Campus Interview and Placement Tests. Learn and practice these interview questions and answers for various companies interview, competitive examination and entrance test. We are glad to provide Engineering Quiz on the various subjects and topics. The Engineering MCQ will include all the branches. It's time to test your skills with the help of the Engineering Online Test. Refer to the Engineering Quiz to know variety type of questions and answers. All the questions we have arranged will help you to attend the interview with a strengthen knowledge on the technical subjects. You can find the Engineering Quiz Online Test Questions and Answers for all the branches. </p>
                                <h4 class="ml-2 mb-3">Engineering Online Test - Engineering Quiz Details</h4>
                                <table  border="1px" class="table border ml-3" > 
                                <tbody>
                                    <tr>
                                        <th>Online Test Name</th>
                                        <td>Engineering</td>
                                    </tr>
                                    <tr>
                                        <th>Exam Type</th>
                                        <td>multiple Choice Questions</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <th>Engineering Quiz</th>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="ml-3 mt-5">Challenge yourself to score the high result in the Engineering Online Test. If you want to test your knowledge and learn something new about the Engineering then take the arranged Engineering MCQ Quiz. Try this Engineering Online Test to access yourself and may know the new things in the process. We are sure that you can gain some current aspects by practicing the Engineering MCQ. Along with the Engineering Quiz, you can find more by visiting Allindiaexams.in. For all the interviews, the technical knowledge is must and should. Therefore, you can gain the technical skills by preparing the Engineering Quiz Questions and Answers. </p>
                            <h4 class="ml-2 mb-3">Engineering Quiz Topics Covered</h4>
                            <p class="ml-3">By referring to the Engineering Quiz, you can find the questions related to all the branches. We have covered the Engineering Online Test for the Computer Science & Engineering, Electronics & Communication Engineering, Electrical Engineering, Civil and Mechanical Engineering, and more sample quizzes. Get the questions from all the technical subjects of each branch. Practice the Engineering Online Test and be familiar with the topics related to the Engineering. Take it as a practice test and learn the new concepts. To gain the technical skills you need to practice the Engineering Online Test Questions and Answers. We can say that this is a huge collection of Engineering Quiz for all the branches. Thus, you can get and know new topics by practicing the Engineering MCQ.</p>
                            <h4 class="ml-2 mb-3">Engineering MCQ Quiz Answers</h4>
                            <p class="ml-3">There are a lot of questions included in the Engineering Quiz for each branch. Click on the page number under the quiz to move forward of the Engineering Online Test. To check the explanation to the questions, click on the View Answer button. Guess the answer to the question and mark it by using the mouse cursor. If the opted answer is correct, then you can automatically see the explanation to the question. So, check the correct answer and know the reason for it. In addition to this, you can do the rough work in the provided Workspace. To solve any branch Engineering question, you can use the space which is arranged. For all the questions you can get the correct answer if also you opted for the wrong solution for it.</p>
                            <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Computer Science & Engineering</span></a></td>
                                            <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Civil Engineering</span></a></td>
                                        </tr>
                                        <tr>
                                            <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Electrical Engineering</span></a></td>
                                            <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Electronics & Communications Engineering</span></a></td>
                                        </tr>
                                        <tr>
                                            <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Chemical Engineering</span></a></td>
                                            <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Mechanical Engineering</span></a></td>
                                        </tr>
                                    </tbody>
                                </table>


                       </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row mt-4">
                                        <div class="col-md-12 m-5 border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}