{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %}
<style>
    a:link{
        text-decoration: none;
    }
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1 border">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-2">
                                            <a href="{% url 'home'%}">Home</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="">English</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row p-2">
                        <div class="col-md-7 mt-5"> 
                            <h3 class="mb-3">English - Verbal Ability Questions and Answers</h3>
                            <p class="ml-2">Verbal Ability questions and answers with explanation for interview, competitive examination and entrance test. Fully solved examples with detailed answer description, explanation are given and it would be easy to understand. Go head-to-head English Quizzing to analyze your Verbal Ability skills. Practice English Online Test to start the English Language Journey. Compete with our competitors by brushing the knowledge on the Verbal Ability Quiz. Check the topics regarding English grammar and more from the below sections. Get ready for the interviews and the entrance examinations by practicing the Verbal Ability Quiz Online Test Questions & Answers. Determine your length of stay or outcome by the current English level. </p>
                            <h4 class="ml-2 mb-3">English Online Test - Verbal Ability Quiz Details</h4>
                                <table  border="1px" class="table border ml-3" > 
                                <tbody>
                                    <tr>
                                        <th>Online Test Name</th>
                                        <td>English</td>
                                    </tr>
                                    <tr>
                                        <th>Exam Type</th>
                                        <td>multiple Choice Questions</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <th>English Quiz</th>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="ml-3 mt-5">Test yourself with your selection of English Quiz on the grammar and the vocabulary. Find the Verbal Ability Online Test for all the topics from this page. You can know all the trending topics and abilities to get more influence on the English Language by taking the English online quiz. You can practice the Verbal Ability Quiz for free of cost from this article. We have presented the English MCQ based on all the topics to gain more knowledge. So, refer to all the topics and know yourself how far you are related to the English Language. Practice more and more topics in the English Quiz to improve yourself. </p>
                                <a href="{% url 'aptitudetest'%}?id=3" class="btn btn-success m-3 px-5">Start Test</a>
                       </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row mt-4">
                                        <div class="col-md-12 m-5 border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}