{% extends "bar.html"%}
{% load staticfiles%}
{% block bar%}
{% if result%}
<script>
    alert("{{result}}");
</script>
{% endif %}
{% if rs%}
<script>
    alert("{{rs}}");
</script>
{% endif %}
<style>
.ab{
    height: 200px;
    width: 200px;
    line-height: 20px;
    color: white;
    font-size: 25px;
    border: 2px solid white;
    background-size: cover;
    
}
.ab:hover{
    box-shadow: 0ch 0ch 10px white;
}
a:link{
    text-decoration: none;
}
</style>
<div class="row pt-3 bg-danger">
    <div class="col-md-12 pt-5 a">
     
    </div>
</div>
    <div class="row bg-primary">
        <div class="col-md-8">
            <div class="container">
                <div class="row p-5">
                    <a href="{% url 'aptitude'%}"><div style="background-image: url('../static/images/apt.jpg');background-size:cover; " class="mx-4 mt-3 text-center ab">Aptitude</div></a>
                    <a href="{% url 'bank'%}"><div style="background-image:url({% static 'images/bank.jpg' %}); background-size : 100% 100%; " class="mx-4 mt-3 text-center ab"></div></a>
                    <a href="{% url 'engg'%}"><div style="background-image:url({% static 'images/engg.jpg' %}); background-size : 100% 100%; " class="mx-4 mt-3 text-center ab"></div></a>
                    <a href="{% url 'eng'%}"><div style="background-image:url({% static 'images/eng.jpg' %}); background-size : 100% 100%; " class="mx-4 mt-5 text-center ab"></div></a>
                    <a href="{% url 'gk'%}"><div style="background-image:url({% static 'images/gk.jpg' %}); background-size : 100% 100%; " class="mx-4 mt-5 text-center ab"></div></a>
                    <a href="{% url 'interview'%}"><div style="background-image:url({% static 'images/intt.jpg' %}); background-size : 100% 100%; " class="mx-4 mt-5 text-center ab"></div></a>
                    <a href="{% url 'online'%}"><div style="background-image:url({% static 'images/quiz.jpg' %}); background-size : 100% 100%; " class="mx-4 mt-5 text-center ab"></div></a>
                    <a href="{% url 'placement'%}"><div style="background-image:url({% static 'images/plc.png' %}); background-size : 100% 100%; " class="mx-4 mt-5 text-center ab "></div></a>
                    <a href="{% url 'reasoning'%}"><div style="background-image:url({% static 'images/ress.jpg' %}); background-size : 100% 100%; " class="mx-4 mt-5 text-center ab"></div></a>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-md-12 m-5 border px-0 bg-light">
                        <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                        <ul>
                            {% for i in cat %}
                            <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}