{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %}
<style>
.ab{
    height: 700px;
    border: 1px dashed black;
}
.aa
{
    border: 1px dashed black;
}
a:link{
    text-decoration: none;
}
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-1">
                                            <hr/>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row mx-auto">
                        <div class="col-md-7 ab mb-4"> 
                            <div class="container-fluid">
                                <div class="row aa">
                                    <div class="col-md-7 ">
                                        <h4 class="mt-4">Instructions:</h4>
                                        <p><i class="fas fa-angle-right"></i> Total number of questions: 20</p>
                                        <p><i class="fas fa-angle-right"></i> Time alloted: 20 minutes</p>
                                        <p><i class="fas fa-angle-right"></i> Each question carry 1 mark, no negative marks.</p>
                                        <a href="{% url 'startapptest1'%}" class="btn btn-primary ">Start Test</a>
                                    </div>
                                    <div class="col-md-5">
                                        <h5 class="mt-4">Notes:</h5>
                                        <p><i class="fas fa-angle-right"></i> Click the 'Submit Test' button given in the buttom of this page to submit your answer</p>
                                        <p><i class="fas fa-angle-right"></i> Test will be submitted automatically if the time expired.</p>
                                        <p class=""><i class="fas fa-angle-right"></i> Don't refresh the page.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12  border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}
