{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %}
<style>
a:link{
    text-decoration: none;
}
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1 border">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-2">
                                            <a href="{% url 'home'%}">Home</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="">Placement</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row p-2">
                        <div class="col-md-7 mt-5"> 
                            <h3 class="mb-3">Placement Papers with Answers</h3>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark"> Airtel</span></a></td>
                                        <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Vodafone</span></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Reliance</span></a></td>
                                        <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Bsnl</span></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Infosys</span></a></td>
                                        <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Wipro</span></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Google</span></a></td>
                                        <td><a href=""><span class="text-warning"><i class="fas fa-folder-open"></i></span><span class="text-dark">Facebook</span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row mt-4">
                                        <div class="col-md-12 m-5 border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}