{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");    
</script>
{% endif %}
<style>
a:link{
    text-decoration: none;
}
</style>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1 border">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-2">
                                            <a href="{% url 'home'%}">Home</a>
                                            <i class="fas fa-angle-right"></i>
                                            <a href="">Reasoning</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row p-2">
                        <div class="col-md-7 mt-5"> 
                            <h3 class="mb-3">Reasoning Questions and Answers</h3>
                            <p class="ml-2">Reasoning Questions and Answers with solutions or explanation for interview, entrance tests and competitive exams. Practice online quiz, fully solved examples with detailed answers. Reasoning Quiz Online Test Questions & Answers for all the topics are arranged. Refer to the Reasoning quiz and grasp the knowledge on the reasoning topics. The best way to improve your logical thinking you need to practice the Reasoning Online Test. So, increase your IQ score with this free Reasoning MCQ Quiz. Following quiz provides the multiple choice questions related to the Reasoning topics. Take part in the Reasoning Quiz and collect more questions to practice for the interviews and examinations. This free Logical Reasoning Online Test will help you better understand the techniques.                                </p>
                            <h4 class="ml-2 mb-3">Reasoning Online Test - Reasoning Quiz Details</h4>
                                <table  border="1px" class="table border ml-3" > 
                                <tbody>
                                    <tr>
                                        <th>Online Test Name</th>
                                        <td>Reasoning</td>
                                    </tr>
                                    <tr>
                                        <th>Exam Type</th>
                                        <td>multiple Choice Questions</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <th>Reasoning Quiz</th>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="ml-3 mt-5">Logical Reasoning Online Test is the fundamental part of any assessment. Make time to have fun on the questions and improve your reasoning skills at the same time. All the topics related to the reasoning are designed in the form of the quizzes that are useful for the competition point of view. Solve unlimited Reasoning MCQ and learn how to solve Reasoning Questions in less time. Boost your general intelligence by practicing the Reasoning Online Test. Get all the reasoning questions from this article to practice for the competitive exams. Practicing of logical reasoning topics should be like a habit for everyone because it will give you so much knowledge. </p>
                             <a href="{% url 'aptitudetest'%}?id=10" class="btn btn-success m-3 px-5">Start Test</a>
                       </div>
                        <div class="col-md-4">
                                <div class="container">
                                    <div class="row mt-4">
                                        <div class="col-md-12 m-5 border px-0 bg-light">
                                            <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                            <ul>
                                                {% for i in cat %}
                                                <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                                {% endfor %}
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
</div>
{% endblock %}