{% extends "bar2.html"%}
{% load staticfiles%}
{% block bar1%}
{% if result%}
<script>
    alert("{{result}}");
</script>
{% endif %}
{% if ab %}
    <script>
        alert("{{ab}}");
    </script>
{% endif%}
<style>
.ab{
    border: 1px dashed black;
}
.aa
{
    border: 1px solid black;
    background-color: skyblue;
    color: red;
}
.ti{
    height: 100px;
    width: 750px;
    text-align: right;
    line-height: 100px;
}
.qu{
    border: 1px dashed black;
}
</style>
{% if user.is_authenticated%}
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-1">
                                            <hr/>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-8  mb-4"> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 ti">
                                <span>Time Left:</span>
                                <span class="text-danger"> 00 :</span>
                                <span class="min text-danger">20</span>
                                <span>:</span>
                                <span class="sec text-danger">00</span>
                             </div>
                            <div class="col-md-12 ab">
                                <div class="container">
                                    <div class="row aa">
                                        <div class="col-md-7 ">
                                            <h4 class="mt-4">Instructions:</h4>
                                            <p><i class="fas fa-angle-right"></i> Total number of questions: 20</p>
                                            <p><i class="fas fa-angle-right"></i> Time alloted: 20 minutes</p>
                                            <p><i class="fas fa-angle-right"></i> Each question carry 1 mark, no negative marks.</p>
                                        </div>
                                        <div class="col-md-5">
                                            <h5 class="mt-4">Notes:</h5>
                                            <p><i class="fas fa-angle-right"></i> Click the 'Submit Test' button given in the buttom of this page to submit your answer</p>
                                            <p><i class="fas fa-angle-right"></i> Test will be submitted automatically if the time expired.</p>
                                            <p class=""><i class="fas fa-angle-right"></i> Don't refresh the page.</p>
                                        </div>
                                     </div>
                                    <div class="row cqn">
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {% for i in s %}
                                                <div class="col-md-12 qu mt-2">
                                                    <div class="form-group" method='post'>
                                                        <label for="">Q.{{i}}-{{i.ques}}</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="radio" name="q{{i}}" id="" value="A" class="ml-3 "><label for="" class="ml-3" />{{i.opt1}}</label>
                                                        <input type="hidden" name="q{{i}}" id="" value="" class="ml-3" checked/>
                                                    </div>
                                                     <div class="form-group">
                                                        <input type="radio" name="q{{i}}" id="" value="B" class="ml-3"><label for="" class="ml-3" />{{i.opt2}}</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="radio" name="q{{i}}" id="" value="C" class="ml-3"><label for="" class="ml-3" />{{i.opt3}}</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="radio" name="q{{i}}" id="" value="D" class="ml-3"><label for="" class="ml-3" />{{i.opt4}}</label>
                                                        <input type="hidden" name="answer{{i}}" id="" value="{{i.corr}}" class="ml-3">
                                                    </div>    
                                                </div>
                                            {% endfor %}
                                            <div class="form-group">
                                                <input type="submit" name="su" id="submit" class="btn btn-primary m-4">
                                            </div>
                                        </form>   
                                    </div>   
                                </div>                                            
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12  border px-0 bg-light">
                                <h3 class="bg-danger text-light text-center p-2">Instructions </h3>
                                <ul type='none'>
                                    <li><i class="fas fa-angle-right"></i> Click the 'Submit Test' button given in the buttom of this page to submit your answer</li>
                                    <li><i class="fas fa-angle-right"></i> Test will be submitted automatically if the time expired.</li>
                                    <li><i class="fas fa-angle-right"></i> Don't refresh the page.</li>
                                </ul>
                            </div>
                            <div class="col-md-12 border px-0 bg-light mt-3">
                                <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                <ul>
                                    {% for i in cat %}
                                        <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                    {% endfor %}    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<script>
    alert("Please Register Or Login First!!!!!")
</script>
<div class="row bg-primary">
        <div class="col-md-12 p-5">
            <div class="container-fluid bg-light">
                <div class="row">
                    <div class="col-md-12"> 
                            <div class="container-fluid mt-1">
                                <div class="row">
                                    <div class="col-md-12 mx-auto p-1">
                                            <hr/>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            <div class="row">
                <div class="col-md-8 text-center">
                    <div style="height: 100px; "></div> 
                    <h2 class="mt-5">Please Click Here to Login or Register</h2>
                     <a href="{% url 'first' %}" class="btn btn-danger mt-3">Register/Login</a>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 border px-0 bg-light mt-3">
                                <h3 class="bg-danger text-light text-center p-2">Online Quiz </h3>
                                <ul>
                                    {% for i in cat %}
                                        <li class="p-2"><a href="{% url 'aptitudetest'%}?id={{i.id}}">{{i.prg}}</a></li>
                                    {% endfor %}    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>
    let n=-1;
    let d=20;
    function sec(){
        if(n==-1){
            n=59;
            min();
        }
        $('.sec').html(n);
        n=n-1;
    }
    function min(){
        d=d-1;
        if(d==-1){
            $('#submit').click();
        }
        $('.min').html(d);
    }
    ab=setInterval(sec,1000);
</script>
{% endblock %}
